
<template name="index">
    <div class="container">
      <div id="row1" class="row-fluid">
        <div class="span12">
          <center class="big-text">Trend.ly</center>
          <center class="small-text">Is it trendy now?</center>
        </div>
      </div>
      <div class="row-fluid">
        <form class="form-search">
          <input type="text" value="" placeholder="Inactive" class="input-large search-query">
        </form>
      <div>
      </div>
    </div>
  </div>
</template>
